<div class="card">
    <div class="card-header">
        <h4><a href="/dog/{{id}}">{{dog_name}}</a></h4>
        {{!-- <p>Posted by {{user.username}} on {{format_date date_created}}</p> --}}
    </div>
        <p class="card-body">{{description}}</p>
</div>